<h1 class="current-category"><%= params[:category] %></h1>

	<% if @trips.count == 0 %>
		<h1>There are no trips in this category yet, be the first one to create one !</h1>
	<% else %>

	<div class="row">

	<% @trips.each do |trip| %>

		<div class="col-md-4">
			<a href="/trips/<%= trip.id %>">
				<%= image_tag trip.trip_img.url(:mini_img), class: "trip" %>
			</a>
		</div>
	<% end %>

	</div>
<% end %>