<div class="white-bg pad-block log-wrap">
    <div class="container">
        <div class="main-title">
            <h1>Create <span>Trip</span></h1>
        </div>
        <%= render 'form', tour: @tour %>
      </div>
</div>
</div>
