.custom-borders{
  border-radius: 10px;
  border: 2px;
  border-style: solid;
  border-color: #2b669a;
  margin: 5px;
}

.custom-index-div{
  text-align: center;
  border-radius: 10px;
  background-color: rgba(41, 102, 154, 0.41);
  border-style: solid;
}
.img-container{
  max-width: 100%;
  max-height: 100%;
}